<section class="vh-100" style="background-color: #ebebeb;"><
<div class="container dashboard" >
    <section class="row text-center">
        <div class="col-12">
            <div class="row justify-content-center mb-4">
                <div class="col-3 mb-5">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body d-flex flex-column text-center">
                            <span class="fa fa-bed fa-3x mb-4"></span>
                            <span class="nameText">Cells</span>
                        </div>
                    </div>
                </div>
                
                <div class="col-3 mb-5">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body d-flex flex-column text-center">
                            <span class="fa fa-bug fa-3x mb-4"></span>
                            <span class="nameText">Prisoners</span>
                        </div>
                    </div>
                </div>

                <div class="col-3 mb-5">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body d-flex flex-column text-center">
                            <span class="fa fa-shield fa-3x mb-4"></span>
                            <span class="nameText">Security Guards</span>
                        </div>
                    </div>
                </div>

                <div class="col-3 mb-5">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body d-flex flex-column text-center">
                            <span class="fa fa-tags fa-3x mb-4"></span>
                            <span class="nameText">Administrator</span>
                        </div>
                    </div>
                </div>

                <div class="col-3 mb-5">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body d-flex flex-column text-center">
                            <span class="fa fa-history fa-3x mb-4"></span>
                            <span class="nameText">Feedback</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

</section>