<form #prisonerForm="ngForm"  id="editForm" autocomplete="off">
    <div class="row form-group mb-3">
        <div class="col-4">
            <app-text-input [label]="'First Name'" formControlName="firstName"></app-text-input>
        </div>
        <div class="col-4">
            <app-text-input [label]="'Last Name'" formControlName="lastName"></app-text-input>
        </div>
        <div class="col-4">
            <app-text-input [label]="'Address'" formControlName="address"></app-text-input>
        </div>
    </div>

    <div class="row form-group mb-3">
        <div class="col-4">
            <label for="dateOfBirth">Date of birth</label>
            <input formControlName="dateOfBirth" [maxDate]="maxDate" [bsConfig]="bsConfig" bsDatepicker name="dateOfBirth" type="text"  class="form-control">
        </div>
        <div class="col-4">
            <app-text-input [label]="'Race'" formControlName="race"></app-text-input>
        </div>
        <div class="col-4">
            <app-text-input [label]="'Gender'" formControlName="gender"></app-text-input>
        </div>
    </div>
    
    <div class="row form-group mb-3">
        <div class="col-4">
            <app-text-input [label]="'Status'" formControlName="status"></app-text-input>
        </div>
        <div class="col-4">
            <app-text-input [label]="'Height'" formControlName="height"></app-text-input>
        </div>
        <div class="col-4">
            <app-text-input [label]="'Weight'" formControlName="weight"></app-text-input>
        </div>
    </div>
    
    <div class="row form-group mb-3">
        <div class="col-4">
            <label for="eyeColor">Eye Color</label>
            <input formControlName="eyeColor"  name="eyeColor" class="form-control">
        </div>
        <div class="col-4">
            <label for="hairColor">Hair Color</label>
            <input formControlName="hairColor"  name="hairColor" class="form-control">
        </div>
        <div class="col-4">
            <label for="city">City</label>
            <input formControlName="city"  name="city" class="form-control">
        </div>
    </div>

    <div class="row form-group mb-3">
        <div class="col-6">
            <label for="nationality">Nationality</label>
            <input formControlName="nationality"  name="nationality" class="form-control">
        </div>
        <div class="col-6">
            <label for="blockId">Cell Name</label>
            <select [(ngModel)]="prisoner.blockId" id="blockId" class="form-control" name="blockId" required>
                <option *ngFor="let type of cells"
                    [selected]="prisoner.blockId === type.id"
                    [ngValue]="type.id">{{type.name}}
                </option>
            </select>
        </div>
    </div>
</form>