<h2 mat-dialog-title>Prisoner Data</h2>

<div mat-dialog-content>
    <tabset class="member-tabset">
        <tab heading="{{ submitOptions}} Data">
            <form [formGroup]="prisonerForm" autocomplete="off">
                <div class="row form-group mb-3">
                    <div class="col-4">
                        <app-text-input [label]="'First Name'" formControlName="firstName"></app-text-input>
                    </div>
                    <div class="col-4">
                        <app-text-input [label]="'Last Name'" formControlName="lastName"></app-text-input>
                    </div>
                    <div class="col-4">
                        <app-text-input [label]="'Address'" formControlName="address"></app-text-input>
                    </div>
                </div>
            
                <div class="row form-group mb-2">
                    <div class="col-4">
                        <app-text-input [label]="'Race'" formControlName="race"></app-text-input>
                    </div>
                    <div class="col-4">
                        <app-text-input [label]="'Gender'" formControlName="gender"></app-text-input>
                    </div>
                    <div class="col-4">
                        <app-text-input [label]="'Status'" formControlName="status"></app-text-input>
                    </div>
                </div>
                
                <div class="row form-group mb-2">
                    <div class="col-4">
                        <app-text-input [label]="'Height'" formControlName="height"></app-text-input>
                    </div>
                    <div class="col-4">
                        <app-text-input [label]="'Weight'" formControlName="weight"></app-text-input>
                    </div>
                    <div class="col-4">
                        <app-text-input [label]="'Eye Color'" formControlName="eyeColor"></app-text-input>
                    </div>
                </div>
                
                <div class="row form-group mb-2">
                    <div class="col-4">
                        <app-text-input [label]="'Hair Color'" formControlName="hairColor"></app-text-input>
                    </div>
                    <div class="col-4">
                        <app-text-input [label]="'City'" formControlName="city"></app-text-input>
                    </div>
                    <div class="col-4">
                        <app-text-input [label]="'Nationality'" formControlName="nationality"></app-text-input>
                    </div>
                </div>
            
                <div *ngIf="submitOptions === 'Create'" class="row form-group mb-2">
                    <div class="col-6">
                        <app-date-input [label]="'Date of birth'" formControlName="dateOfBirth"></app-date-input>
                    </div>
                    <div class="col-6">
                        <label for="blockId">Cell Name</label>
                        <select formControlName="blockId" id="blockId" class="form-control" name="blockId" required>
                            <option *ngFor="let type of cells"
                                [value]="type.id">{{type.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </form>
        </tab>
        <tab *ngIf="prisoner" heading="Update Photo">
            <app-photo-editor [prisoner]="prisoner"></app-photo-editor>
        </tab>
    </tabset>
</div>

<div class="" mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button [disabled]="!prisonerForm.dirty" mat-raised-button color="primary" class="ml-3" (click)="submitData()">
        {{ submitOptions }}
        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
    </button>
</div>
